$gray-100: #f8f9fa;
$gray-500: #adb5bd;
$light: #f1f3f5;
$white: #ffffff;
$primary: #ff2d20;
$min-contrast-ratio: 3;

$border-radius: 0.5rem;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

$card-cap-bg: $white;
$card-cap-padding-y: 1rem;

$dl-margin-bottom: -1rem;
$dd-margin-bottom: 1rem;

$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;

$input-group-addon-bg: $white;
$input-placeholder-color: $gray-500;

$list-group-action-active-bg: $gray-100;
$list-group-action-hover-color: inherit;
$list-group-item-padding-y: 1rem;

$navbar-toggler-padding-x: 0;
$navbar-toggler-padding-y: 0;
$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;

$container-max-width: 1140px;
$form-label-margin-bottom: 0.25rem;
$link-decoration: none;

* {
    outline: none !important;
}

.container {
    max-width: $container-max-width !important;
}

dl {
    margin-bottom: $dl-margin-bottom !important;
}

dd {
    margin-bottom: $dd-margin-bottom !important;
}

.text-muted a {
    color: inherit !important;
}
