@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~@fontsource/poppins/400.css';
@import '~@fontsource/poppins/500.css';
@import '~@fontsource/poppins/700.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
